<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>CFBundleDevelopmentRegion</key>
    <string>zh_TW</string>

    <key>CFBundleDisplayName</key>
    <string>Utility Tools</string>

    <key>CFBundleExecutable</key>
    <string>UtilityTools</string>

    <key>CFBundleIdentifier</key>
    <string>com.utilitytools.app</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>Utility Tools</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>2.0</string>

    <key>CFBundleVersion</key>
    <string>2</string>

    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>iPhoneOS</string>
    </array>

    <key>MinimumOSVersion</key>
    <string>15.0</string>

    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
        <integer>2</integer>
    </array>

    <key>UILaunchScreen</key>
    <dict/>

</dict>
</plist>
